<main class="home-bg py-5">
  <div class="container">
    <div class="container-fluid container-table rounded">
      <div class="d-flex flex-column justify-content-center mb-3">
        <div class="text-center p-3">
          <h1>Tabla de países</h1>
        </div>
        <div class="container-fluid bg-light rounded mb-2">
          <app-listar></app-listar>
        </div>
        <div class="d-flex flex-row">
          <div class="py-3">
            <button class="btn btn-primary">
              Listar países
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
