<main class="home-bg py-5">
  <div class="container">
    <div class="container-fluid container-table rounded">
      <div class="d-flex flex-column justify-content-center mb-3">
        <div class="text-center p-3">
          <h1>Tabla de países</h1>
        </div>
        <div class="container-fluid bg-light rounded mb-2">
          <table class="table text-center">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Presidente</th>
                <th scope="col">Continente</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let country of countries">
                <th>{{country.id}}</th>
                <td>{{country.name}}</td>
                <td>{{country.president}}</td>
                <td>{{country.continent}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex flex-row">
          <div class="py-3">
            <button class="btn btn-primary">Listar países</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
